
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Static Tables</title>

    <link href="~/AdminTema/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AdminTema/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/AdminTema/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

       @await Html.PartialAsync("~/Views/Admin/AdminNavbarPartial.cshtml") 

        <div id="page-wrapper" class="gray-bg">
         
            
            <div class="wrapper wrapper-content animated fadeInRight">
               @RenderBody()
            </div>
            <div class="footer">
                <div class="float-right">
                </div>
                <div>
                    © @DateTime.Now.Year University Social Platform. Tüm Hakları Saklıdır | Nadir Payam & Sujaat İsmayil
                </div>
            </div>

        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/AdminTema/js/jquery-3.1.1.min.js"></script>
    <script src="~/AdminTema/js/popper.min.js"></script>
    <script src="~/AdminTema/js/bootstrap.js"></script>
    <script src="~/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminTema/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/AdminTema/js/inspinia.js"></script>
    <script src="~/AdminTema/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/AdminTema/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/AdminTema/js/demo/peity-demo.js"></script>
    <script>
    $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });</script>

    @*@await RenderSectionAsync("scripts") *@
</body>

</html>