
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Universite Sosyal Platformu</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/LearnerTema/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/LearnerTema/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/LearnerTema/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/LearnerTema/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="../../index.html"><img src="~/Images/logo.jpg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="~/LearnerTema/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            @await Html.PartialAsync("~/Views/Learner/LearnerNavbar.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("~/Views/Learner/LearnerFooterPartial.cshtml")
            </div>
        </div>
    </div>
    <script src="~/LearnerTema/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/LearnerTema/assets/js/off-canvas.js"></script>
    <script src="~/LearnerTema/assets/js/hoverable-collapse.js"></script>
    <script src="~/LearnerTema/assets/js/misc.js"></script>
    <script src="~/LearnerTema/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/LearnerTema/assets/js/dashboard.js"></script>
    <script src="~/LearnerTema/assets/js/todolist.js"></script>
</body>
</html>

