
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>UniSocialPlatform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="UniSocialPlatform" />

    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <link href="~/USPTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/single.css">
    <link href="~/USPTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/USPTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>

<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 text-left">
                    <a class="navbar-brand" href="/Post/Index/">
                        <img src="~/Images/logo.jpg" width="40px" height="40px"/> USP
                    </a>
                </div>
                @await Html.PartialAsync("PartialViewTop") 
            </div>
        </div>
        @await Html.PartialAsync("PartialViewNavbar") 
    </header>
    @RenderBody()
    <!--//main-->
    <!--footer-->
    @await Html.PartialAsync("PartialViewFooter") 
    <!---->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/USPTema/js/move-top.js"></script>
    <script src="~/USPTema/js/easing.js"></script>
    <script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
    </script>
    <!--// end-smoth-scrolling -->

    <script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/USPTema/js/bootstrap.js"></script>


</body>

</html>