


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Hoş Geldiniz! Üniversite Adı Sosyal Medya Platformuna Biz, Üniversite Adı'nın gururla sunarız: öğrenciler, akademisyenler ve personel için özel olarak tasarlanmış dinamik bir sosyal medya platformu.</p>
                <div class="read">
                    <a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            <div class="col-lg-6 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("PostLast3") 
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year University Social Platform. Tüm Hakları Saklıdır | Nadir Payam & Sujaat İsmayil
                </p>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>