@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
           
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-12 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid" style="margin-left: 350px;">
                             <img src="/Images/logobuyuk400.jpg" class="img-fluid" alt="" >
                        </div>
                        <h3>
                            Biz Kimiz?
                        </h3>
                        @foreach (var item in Model)
                        {
                            <p>
                                @item.AboutDetails1
                            </p>}
                            <a href="/Post/Index" class="btn btn-primary read-m">Gönderilere Dön</a>
                        </div>
                </div>
            </div>
        </div>
    </section>