
@{
    ViewData["Title"] = "PostListModelExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<a href="/Admin/Post/ExportDinamicExcelPostList/" class="btn btn-primary" onclick="DownloadExcelPostList()">Excel Listesini İndir</a>

