

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            @await Component.InvokeAsync("AdminList")

            <li>
                <a href="/Admin/Section/Index"><i class="fa fa-group"></i> <span class="nav-label">Bölümler</span>  </a>
            </li>
            <li>
                <a href="/Post/Index/"><i class="fa fa-group"></i> <span class="menu-title">Siteye Git</span>  </a>
            </li>
            <li>

        </ul>
    </div>
</nav>