@model IEnumerable<EntityLayer.Concrete.Learner>

@foreach (var item in Model)
{
    <li class="nav-header">
        <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="block m-t-xs font-bold">@item.LearnerName @item.LearnerSurname</span>
            </a>
        </div>
    </li>
}