@model IEnumerable<EntityLayer.Concrete.Comment>


    <div class="comment-top">
        <h4>Yorumlar</h4>
        @foreach (var item in Model)
        {
    <div class="media">
        
        <div class="media-body">
            <i class="far fa-user"></i> @item.CommentAnonymousName
            <p>
                @item.CommentContent
            </p>
        </div>
    </div>}
    </div>
