@model UniversitySocialPlatform.Models.PostAddClass

@{
    ViewData["Title"] = "PostAdd";
    Layout = "~/Views/Shared/LearnerLayout.cshtml";
}

<h1>Yeni Gönderi Girişi</h1>
<br />

<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">YEni Bir Gönderi Oluştur</h4> <br />

                <div class="form-group">
                    <label for="exampleInputName1">Gönderi Başlığı</label>
                    @Html.TextBoxFor(x => x.PostTitle, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Gönderi İçeriği</label>
                    @Html.TextBoxFor(x => x.PostContent, new { @class = "form-control" })
                </div>
                <div class="col-md-6 mb-3">
                    @Html.Label("Bölüm")
                    @Html.DropDownListFor(x => x.SectionID, (List<SelectListItem>)ViewBag.bolum, new { @class = "form-control" })
                </div>
                <label>Görsel</label>
                <input type="file" name="PostImage" class="file-upload-default">
                <div class="input-group col-xs-12">
                    <input type="file" name="PostImage" />
                </div>
                <br />
                <button type="submit" class="btn btn-gradient-primary mr-2">Gönderiyi Ekle</button>
            </div>
        </div>
    </div>
</form>
