@model IEnumerable<EntityLayer.Concrete.Post>

@{
    ViewData["Title"] = "PostDetails";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="single.html">
                                        <img src=@item.PostImage class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @(((DateTime)item.PostCreateDate).ToString("dd MMM yyyy"))
                                            </a>
                                        </li>
                                      

                                    </ul>
                                </div>
                            </div>

                            <h3>
                                <a href="single.html">@item.PostTitle </a>
                            </h3>
                            <p>
                                @item.PostContent
                            </p>
                            <a href="/Post/Index/" class="btn btn-primary read-m">Gönderilere Dön</a>
                        </div>
                    }
                    @await Component.InvokeAsync("CommentListByBlog",new { id = ViewBag.PostId }) 
                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")

                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/USPTema/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        @await Component.InvokeAsync("SectionList")
                        @await Component.InvokeAsync("LearnerLastPost", new { id = ViewBag.PostId })
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>


