@model EntityLayer.Concrete.Learner

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<link href="~/USPTema/css/single.css" rel='stylesheet' type='text/css' />
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Giriş Yap</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">Mail Adresiniz</label>
                        @Html.TextBoxFor(x => x.LearnerMail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1 mb-2">Şifreniz</label>
                        @Html.TextBoxFor(x => x.LearnerPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                    <p><a href="/Register/Index"> Bir hesabın yok mu?</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
