


<div class="row">
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Gönderi Sayısı </span>
                    <h2 class="font-bold">@ViewBag.PostCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Hava Durumu </span>
                    <h2 class="font-bold">@ViewBag.Hava</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>Mesaj sayısı </span>
                    <h2 class="font-bold">@ViewBag.ContactCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-music fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Yorum Sayısı </span>
                    <h2 class="font-bold">@ViewBag.CommentCount</h2>
                </div>
            </div>
        </div>
    </div>
</div>