
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>USP Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="USP Admin" />

    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <link href="~/USPTema/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/USPTema/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/USPTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/USPTema/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>

<body>
    <!--Header-->

   
    </header>
   
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Giriş Yap</h3>
            <div class="row inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1 mb-2">Kullanıcı Adı</label>
                            <input type="text" name="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            <input type="password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->

    <!---->
    <!-- js -->
    <script src="~/USPTema/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/USPTema/js/move-top.js"></script>
    <script src="~/USPTema/js/easing.js"></script>
    <script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
    </script>
    <!--// end-smoth-scrolling -->

    <script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
   
    <!-- //Custom-JavaScript-File-Links -->
    <script src=" ~/USPTema/js/bootstrap.js"></script>


</body>

</html>